{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/ico/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extrahead %}{% endblock %}

</head>

<body>
    <div class="page">
        <!-- Экран загрузки -->
        <div id="loader">
            <!-- Индикатор загрузки -->
            <div class="spinner"></div>
        </div>
        {% include '_header.html' %}
        <div class="page__wrapper">
            {% block content %} {% endblock %}

            {% block simpletext %} {% endblock %}
        </div>

        {% include '_footer.html' %}
    </div>
    {% block extrafooter %}{% endblock %}
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>