.git/

# Игнорировать файлы и папки для проекта FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv

# Игнорировать временные файлы IDE для Visual Studio Code
.vscode/

# Игнорировать временные файлы IDE для PyCharm
.idea/
*.iml