.page__wrapper {
    position: relative;
}
.board {
    padding-top: calc(20px + 0 * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / (1920 - 320)));

    max-width: var(--container);
    margin: 0 auto;
    padding-left: 10px;
    padding-right: calc(10px + 30 * ((100vw - 320px) / (1920 - 320)));
}
.hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.hidden._active,
.hidden._active-socket {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    cursor: no-drop;
    z-index: 5;
    background-color: #1e1e1beb;
}

.hidden__wait {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hidden__svg {
    position: relative;
    width: 150px;
    height: 150px;
}
.hidden__svg svg {
    position: relative;
    width: 150px;
    height: 150px;
}

.hidden__url {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hidden__message {
    font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
}
.hidden__button {
    margin-top: 20px;
}
.game-status__title {
}
.game-status__winner {
    display: none;
}
.game-status-winner._active {
    display: block;
}
.game-status__tie {
    display: none;
}
.game-status-tie._active {
    display: block;
}
.hidden__url input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333; /* Цвет фона */
    color: white; /* Цвет текста */
}
.hidden__url input:focus {
    border: 1px solid #333;
}
.hidden__url button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hidden__url button:hover {
    background-color: #0056b3;
}

.board__content {
    max-width: 1000px;
    margin: 0px auto;
}
.moveSound {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.board__area {
    display: grid;
    grid-template-columns: minmax(300px, 400px) 1fr;
    gap: 20px;
}

#myBoard._block {
    pointer-events: none;
}
.board__items {
}
.board__item {
}
.board__game {
    position: relative;
}

.board__game:before,
.board__game:after {
    content: "";
    /* position: absolute; */
}

.board__game:before {
    width: 100%;
    height: 300px;
    background-color: #1f1f1f;
}

.board__game img {
    display: inline;
}

.spare-pieces-bottom-ae20f {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
}

.spare-pieces-bottom-ae20f img:first-child {
    display: none;
}

.board__game img:hover {
    cursor: pointer;
}

.board-b72b1 {
    position: relative;
}
/* Стили для эффекта нажатия */
.click-effect {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.5); /* Красный полупрозрачный цвет */
    border-radius: 50%; /* Превратим в круг */
    pointer-events: none; /* Не взаимодействует с событиями мыши */
    animation: clickAnimation 0.5s ease-out forwards; /* Анимация */
}

/* Ключевые кадры анимации */
@keyframes clickAnimation {
    0% {
        transform: scale(0); /* Начальный размер нулевой */
        opacity: 1; /* Полная прозрачность */
    }
    100% {
        transform: scale(2); /* Увеличиваем до размера в 2 раза */
        opacity: 0; /* Исчезает полностью */
    }
}

.board__action {
    padding: calc(10px + 10 * ((100vw - 320px) / (1920 - 320)));
    background-color: #262522;
    display: grid;
    grid-template-rows: 50px 60px 1fr;
    gap: 15px;
}

.board__steps {
    overflow-y: auto;
    max-height: 45vh;
    min-height: 200px;
}

.board__step {
    margin-bottom: 10px;
}
.board__step:last-child {
    margin: 0;
}
.step-source,
.step-target {
    width: 50px;
    text-align: center;
}
.step-target {
}
.board__figures {
}

.board__figures img:hover {
    cursor: pointer;
}

.board__figures .spare-pieces-7492f {
    /* padding-left: 0!important; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.spare-pieces-bottom-ae20f {
    max-width: 250px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 1px rgb(255 255 255);
    background: rgb(255 255 255 / 15%);
    border-radius: 0 0px 10px 10px;
}
.board__title {
    text-align: left;
    margin-bottom: 15px;
}
.board__title span {
    opacity: 0.7;
}

.board__buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 300px;
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
}
.board__button {
    width: 100%;
    --bgColor: hsla(0, 0%, 100%, 0.08);
    --bgHoverColor: hsla(0, 0%, 100%, 0.16);
    --bgActiveColor: #62ff0029;
    --textColor: hsla(0, 0%, 100%, 0.72);
    --textHoverColor: #fff;
}
._block-page {
    overflow: hidden;
}

.board__button {
    align-items: center;
    background-color: var(--bgColor);
    border: 0;
    height: 50px;
    border-radius: var(--borderRadius, 0.5rem);
    box-shadow: var(--boxShadow, inset 0 calc(var(--borderHeight, 0.1rem) * -1) 0 0 rgba(0, 0, 0, 0.2));
    color: var(--textColor, #fff);
    display: inline-flex;
    font-size: var(--fontSize, 1.5rem);
    font-weight: 600;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding: var(--buttonPaddings, 0.5rem 2rem);
    position: relative;
    text-align: center;
    text-shadow:
        0 0.1rem 0 var(--textShadowColor, rgba(0, 0, 0, 0.2)),
        0 0.3rem 1.6rem rgba(0, 0, 0, 0.05);
    transition-duration: 0.1s;
    transition-property: box-shadow, background-color, color;
    transition-timing-function: ease-out;
}

.board__button:hover {
    background-color: var(--bgHoverColor);
    box-shadow: var(--boxShadowHover, inset 0 calc(var(--borderHeight, 0.1rem) * -1) 0 0 rgba(0, 0, 0, 0.25));
    color: var(--textHoverColor, var(--textHoverColor, #fff));
    transition: all 0.3s ease 0s;
}

.board__button:active {
    background-color: var(--bgActiveColor);
}

.board__button.green {
    background-color: green;
}

.board__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.board-cancel._active {
    animation: alert 0.3s ease;
}

@keyframes alert {
    0% {
        background-color: var(--bgHoverColor);
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: var(--bgHoverColor);
    }
}

.board__points {
    min-width: 50px;
    max-width: 300px;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.board__points strong {
}

.find {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(40px + 40 * ((100vw - 320px) / (1920 - 320)));
}

.center {
    width: 180px;
    height: 60px;
    position: relative;
}
.find__button {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
}
.find__button:hover {
    transition: 1s ease-in-out;
    background: #4f95da;
}

.find__button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.find__button:hover svg {
    stroke-dashoffset: -480;
}

.find__button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

/* цвет фигур "Ожидание" */
#A_-_139_x2C__Chess_x2C__computer_x2C__strategy_x2C__tactic_x2C__technology * {
    fill: #ffffff;
}

@media (max-width: 990px) {
    .board__points,
    .board__buttons {
        width: 100%;
        max-width: 100%;
    }
    .board {
        padding-right: 10px;
    }
    .board__steps {
        max-height: 20vh;
    }
    .board__items {
        width: calc(260px + 200 * ((100vw - 320px) / (1920 - 320)));
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .board__area {
        grid-template-columns: 1fr;
    }
    .board__items {
    }
    .board__game {
    }
}
